@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@font-face {
  font-family: "Aber-Bold";
  src: url("/fonts/Aber-Mono-Bold.otf");
}
@font-face {
  font-family: "Aber-Reg";
  src: url("/fonts/Aber-Mono-Regular.otf");
}
@font-face {
  font-family: "Aber-Thin";
  src: url("/fonts/Aber-Mono-Light.otf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  background: #020614;
  color: white;
  overflow-x: hidden;
}
